
.details-container{
  background-color: rgb(42, 42, 49);
}
.details-top-bg{
  background-image: url('../../images/field.jpg');
  height:200px;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.details-top-bg::after{
  position: absolute;
  background-color:rgba(255, 255, 255, 0.8);
  height:100%;
  width: 100%;
  content: '';
  z-index: 1;
  opacity: 0.6;
  top:0;
  left: 0;
}
.details-top-bg img{
  z-index: 99;
}
.league-info svg{
  margin-right:8px;
  width:20px;
}
.social-icons img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  margin:0 10px;
}