body{
  background-color: rgb(61, 71, 94);
}
.home-bg{
  background-image: url('../../images/field.jpg');
  height:300px;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg::after{
  position: absolute;
  background-color:rgba(0, 0, 0,0.7);
  height:100%;
  width: 100%;
  content: '';
  z-index: 1;
  opacity: 0.6;
}
.home-bg h1, p{
  z-index: 99;
}
.leagues-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  margin:20px;
  padding:20px;
}


@media only screen and (max-width: 991px){
  .leagues-container{
    grid-template-columns: repeat(2,1fr);
  }
}
@media only screen and (max-width: 600px){
  .leagues-container{
    grid-template-columns: repeat(1,1fr);
  }
}